.caloriesWaterSplitChild {
  width: 193px;
  height: 81px;
  position: relative;
  border-radius: var(--br-22xl);
  background-color: var(--color-seashell);
  display: none;
}
.calories {
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
  font-weight: 600;
  z-index: 1;
}
.nameAgeHeightSplit {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl) 0 var(--padding-6xl);
}
.kcal {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 100%;
  text-transform: capitalize;
  font-weight: 900;
  color: var(--color-darkslategray-100);
  z-index: 1;
}
.caloriesWaterSplit {
  align-self: stretch;
  border-radius: var(--br-22xl);
  background-color: var(--color-seashell);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-22xl) var(--padding-4xl)
    var(--padding-27xl);
  gap: var(--gap-8xs);
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-coral);
  font-family: var(--font-metropolis);
}
