.frameChild {
  position: absolute;
  top: 24px;
  left: 24px;
  border-radius: 50%;
  background-color: var(--color-gray-300);
  width: 130px;
  height: 130px;
  display: none;
  z-index: 1;
}
.frameItem {
  height: 178px;
  width: 178px;
  position: relative;
  border-radius: var(--br-26xl);
  background-color: var(--color-darkslategray-100);
  display: none;
}
.frameInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-orangered-100);
  box-shadow: 0 0 20px rgba(255, 130, 80, 0.51);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.b,
.steps {
  position: absolute;
  line-height: 100%;
  text-transform: capitalize;
  z-index: 3;
}
.steps {
  top: 72px;
  left: 51px;
  font-weight: 600;
}
.b {
  top: 49px;
  left: 38px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.ellipseGroup {
  height: 130px;
  flex: 1;
  position: relative;
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-26xl);
  background-color: var(--color-darkslategray-100);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  height: 100%;
}
.ellipseParent {
  height: 178px;
  width: 178px;
  position: relative;
  min-width: 178px;
}
.caloriesWaterFrame,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.caloriesWaterFrame {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 125px;
  font-size: var(--font-size-smi);
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  gap: var(--gap-mini);
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-coral);
  font-family: var(--font-metropolis);
}
@media screen and (max-width: 450px) {
  .ellipseParent {
    flex: 1;
  }
  .frameParent {
    flex-wrap: wrap;
  }
}
